.hidden {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#title {
  text-align: center;
  color: white;
}

#clock {
  text-align: center;
  color: white;
}

#button {
  width: 100%;
  height: 50px;
  display: grid;
  position: relative;
  top: 0%;
}

#button button {
  transition-duration: 100ms;
  width: 200px;
  text-align: center;
  margin: auto;
  border: none;
  color: White;
  background-color: darkblue;
  border-radius: 15px;
  font-size: large;
  font-weight: 600;
}

#button button:hover {
  font-size: x-large;
  width: 220px;
  background: linear-gradient(15deg, blue, red);
}

#button button:active {
  font-size: xx-large;
  width: 250px;
}

#clock-div {
  width: auto;
  height: auto;
  background-color: black;
}
